/*h2 {color:red !important;}*/
/*p {color:blue !important;}*/
@media print
{
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group;}
  tfoot { display:table-footer-group }
}
.smred{color:red !important;font-size: 8px;}
.address{color:#4385ef !important;}

.poChangepoChangepoChange{color:blue !important;}
.poVendor{color:blue !important;}
.notReceived{color:red !important;}
.received{color:green !important;}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: lightGray !important;
}

.red {color:red !important;}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
   padding:0px !important;
}

